@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* FONTS FOR TITLES*/
h1{
  font-family: 'Protest Riot', sans-serif;
}

p{
  font-family: serif;
}

/* COLOR PALETTE  */
:root{
  --titulos: #050a24;
  --cards: rgba(220, 209, 202, 0.396);
}

/* HEADER */
nav {
  justify-content: center;
}

.flags img {
  cursor: pointer;
  width: 50px;
}

.navbar {
  --bs-navbar-padding-y: 0rem;
}

.padre {
  justify-content: center;
}

.nav-bar-content {
  width: 98vw !important;
}

.search {
  width: 25%;
}

.main {
  display: flex;
  gap: 20px;
}

.container-fluid {
  background-color: var(--titulos);
  color: #fff;
}

.header {
  background-color: var(--titulos);
}

.articles {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px;
  background-color: var(--secundario);
  padding: 20px;
}

.articles-img {
  display: flex;
  flex-direction: column;
}

.articles-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  font-size: 25px;
  width: 35vw;
  margin: 15px;
}

.articles-text-title {
  font-weight: bold;
}

.articles-text-text {
  text-align: center;
}

button {
  background-color: var(--titulos);
}

/* FOOTER */
footer {
  background-color: var(--titulos);
  color: #ffff;
  gap: 15px;
  position: relative;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: grey;
}

footer {
  background-color: var(--titulos);
  color: #ffff;
  gap: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #1d223d;
  position: relative;
}

footer p {
  max-width: 400px;
}

.logo_img {
  margin: -20px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.contenido {
  width: 70dvw;
  margin-top: 20px;
}
.acerca {
  margin-top: 30px;
}
.suscripcion {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ubicacion {
  margin-right: 20px;
}
.informacion {
  margin-left: 25px;
}
.footer-content {
  width: 90dvw;
}
.linea {
  background-color: var(--titulos);
  color: #e4e4e7;
}
.copyrigt {
  background-color: var(--titulos);
}

/* RESPONSIVE MID DEVICES SIZE*/
@media screen and (min-width: 700px) and (max-width: 1200px) {
  .articles-img img {
    width: 600px;
  }
  .articles {
    flex-direction: column;
  }
  .articles-text {
    width: 600px;
  }
  .mision {
    display: none;
  }
  .vision {
    display: none;
  }
}
/* RESPONSIVE LOW DEVICES SIZE */
@media screen and (min-width: 375px) and (max-width: 700px) {
  .articles-img img {
    width: 350px;
  }
  .articles {
    flex-direction: column;
  }
  .articles-text {
    width: 350px;
  }
  .mision {
    display: none;
  }
  .vision {
    display: none;
  }
  .footer-content {
    flex-direction: column;
    text-align: center;
  }
  .ubicacion {
    margin-right: 0px;
  }
  .informacion {
    margin-left: 0px;
  }
  .info {
    margin-left: 0px;
  }
}
