/* HEADER */
nav{
    justify-content: center;
}

.padre {
    justify-content: center;
}

.nav-bar-content{
    width: 98vw !important;
}

.search {
    width: 25%;
}

.main{
    display: flex;
    gap: 20px;
}

.header{
    background-color: #050a24;
}

.articles {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
}

.articles-img {
    display: flex;
    flex-direction: column;
}

.articles-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    font-size: 25px;
    width: 35vw;
    margin: 15px;
}

.articles-text-title {
    font-weight: bold;
}

.articles-text-text {
    text-align: center;
}

button{
    background-color: #050a24;
}

footer{
    background-color: #050a24;
    color:#ffff;
    gap: 15px;
    position: relative;
}


footer{
    background-color: #050a24;
    color:#ffff;
    gap: 15px;
    position: relative;
}

footer p {
    max-width: 400px;
}
.logo_img{
    margin: -20px;
    position: absolute;
    top: 5px;
    left: 5px;
}

.contenido{
    width: 70dvw;
    margin-top: 20px;
}
.acerca{
    margin-top:30px;
    }
.suscripcion{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ubicacion{
    /* margin-top: 50px; */
    margin-right: 20px;
}
.informacion{
    /* margin-top: 50px; */
    margin-left: 25px;
}
.footer-content {
    width: 90dvw;
}
.linea{
    background-color: #050a24;
    color: #E4E4E7;
}
.copyrigt{
    background-color: #050a24;
    
}