@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* FONTS FOR TITLES*/
h1{
    font-family: 'Protest Riot', sans-serif;
    text-align: center;
}

p{
    font-family: serif;
}

/* COLOR PALETTE  */
:root{
    --titulos: #050a24;
    --cards: rgba(220, 209, 202, 0.396);
}

/* HEADER */
nav{
    justify-content: center;
}

.flags img{
    cursor: pointer;
    width: 50px;
}

.navbar{
    --bs-navbar-padding-y: 0rem;
}

.padre {
    justify-content: center;
}

.nav-bar-content{
    width: 98vw !important;
}

.search {
    width: 25%;
}

.main{
    display: flex;
    gap: 20px;
}

.container-fluid{
    background-color: #050a24;
    color: #fff;
}


h2,h3{
    color: #0629DD;
}

.logo_img{
    margin: -20px;
    position: absolute;
    top: 5px;
    left: 5px;
}
.contenido{
    width: 70dvw;
    margin-top: 20px;
}
footer{
    background-color: #050a24;
    color:#ffff;
    gap: 15px;
    position: relative;
    border-bottom: 1px solid #141d47;
}
footer p {
    max-width: 400px;
}
a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: grey
}
.acerca{
    margin-top:30px;
    }
.suscripcion{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ubicacion{
    margin-right: 20px;
    }
.informacion{
    margin-left: 25px;
    }
.footer-content {
    width: 90dvw;
}
.linea{
    background-color: #050a24;
    color: #E4E4E7;
}
.copyrigt{
    background-color: #050a24;
    
}
/* @media (max-width:900px){
    .mision,.vision{
        display: none;
    }
    .linea{
        display: none;
    }
} */
@media screen and (min-width: 700px) and (max-width: 1200px) {
    .articles-img img {
      width: 600px;
    }
    .articles {
      flex-direction: column;
    }
    .articles-text {
      width: 600px;
    }
    .mision {
      display: none;
    }
    .vision {
      display: none;
    }
  }
  @media  screen and (min-width: 375) and (max-width: 700px){
    .media-img{
        width: 500px;
    }
    .row{
        justify-content: center;
        align-items: center;
    }
    h2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }
  @media screen and (min-width: 375px) and (max-width: 700px) {
    .articles-img img {
      width: 350px;
    }
    .articles {
      flex-direction: column;
    }
    .articles-text {
      width: 350px;
    }
    .mision {
      display: none;
    }
    .vision {
      display: none;
    }
    .footer-content {
      flex-direction: column;
      text-align: center;
    }
    .ubicacion{
        margin-right: 0px;
        }
    .informacion{
        margin-left: 0px;
        }
  }
