
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}
label{
    font-weight: bold;
}
.container-fluid{
    display: flex;
    margin: 0px;
    justify-content: center;
}
.card-logo{
    display: flex;
    flex-direction: column;
    background-color: #050A24;
    color: white;
    width: 70vw;
    height: 720px;
    width: 542px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;    

}
.p-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-family: Rowdies;
    
}
.container-fluid{
    display: flex;
    /* gap: 21px; */
}
.card-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 720px;
    width: 500px;
    padding: 20px,auto;
    padding-left: 1%;
    padding-right: 50px;
    background-color: #ffff;
    box-shadow: 0px 0px 50px black;
    border-radius: 5px;
}
h5{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rowdies-regular {
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
.terminos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.terminosCondiciones{
    display: flex;
    gap: 10px;
}