nav{
    justify-content: center;
}

.padre {
    justify-content: center;
}

.flags img{
    cursor: pointer;
    width: 50px;
}

.nav-bar-content{
    width: 98vw !important;
}

.search {
    width: 25%;
}

.main{
    display: flex;
    width: 1200px;
    gap: 20px;
}

.row{
    background-color: #050a24;
}

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.Izquierda{
    width: 500px;
    margin-bottom: 20px;
}

.Derecha{
    width: 60vw;
}

.Derecha h2{
    text-align: center;
    padding-top: 6px;
    padding-bottom: 30px;
}   

.parrafo1{
    display: flex;
    align-items: center;
}

.texto1{
    text-align: center;
}

.parrafo2{
    display: flex;
    align-items: center;
}

.texto2{
    text-align: center;
}

a{
    text-decoration: none;
}

/* .sesion{
    right: 320px;
    position: absolute;
} */

small{
    justify-content: center;
}

button{
    color: blue;    
}

a{
    display: flex;
    justify-content: center;
}

hr{
    position: relative;
    top: -40PX;
}

h1{
    text-decoration: underline;
}

h2{
    text-decoration: underline;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: grey
}

/* Footer */
footer{
    background-color: #050a24;
    color:#ffff;
    gap: 15px;
    position: relative;
}
footer p {
    max-width: 400px;
}
.acerca{
    margin-top:30px;
    }
.suscripcion{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ubicacion{
    margin-right: 20px;
    }
.informacion{
    margin-left: 25px;
    }
.footer-content {
    width: 90dvw;
}
.linea{
    background-color: #050a24;
    color: #E4E4E7;
}
.copyrigt{
    background-color: #050a24;
    
}

