.padre{
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden
}
.main{
    display: flex;
    width: 1300px;
    gap: 20px;
}

.row{
    background-color: #050a24;
}
.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.head-right{
    text-align: end;
    padding-right: 600px;
}

.Izquierda{
    width: 500px;
    margin-bottom: 20px;
}

.Derecha{
    width: 60vw;
}

.Derecha h2{
    text-align: center;
    padding-top: 6px;
    padding-bottom: 30px;
}   

.parrafo1{
    display: flex;
    align-items: center;
}

.texto1{
    text-align: center;
}

.parrafo2{
    display: flex;
    align-items: center;
}

.texto2{
    text-align: center;
}

small{
    justify-content: center;
}

button{
    border-radius: 20px;
    color: blue;
}

a{
    display: flex;
    justify-content: center;
}

nav{
    margin-left: 720px;
    margin-right: 200px;
}

hr{
    position: relative;
    top: -40PX;
}

h1{
    text-decoration: underline;
}

h2{
    text-decoration: underline;
}

img{
    border-radius: 20px;
}

/* Footer */
footer{
    background-color: #050a24;
    color:#ffff;
    gap: 15px;
    position: relative;
}

footer p {
    max-width: 400px;
}
.acerca{
    margin-top:30px;
    }
.suscripcion{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ubicacion{
    margin-right: 20px;
    }
.informacion{
    margin-left: 25px;
    }
.footer-content {
    width: 90dvw;
}
.linea{
    background-color: #050a24;
    color: #E4E4E7;
}
.copyrigt{
    background-color: #050a24;
    
}

