/* IMPORT FONTS OF GOOGLE */
@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");

/* STANDARIZATE THE CODE */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* FONTS FOR TITLES*/
h1 {
  font-family: "Protest Riot", sans-serif;
  text-align: center;
}

h2 {
  font-family: "Merriweather", serif;
  text-decoration: underline;
}

p {
  font-family: serif;
}

/* COLOR PALETTE  */
:root {
  --titulos: #050a24;
  --cards: rgba(151, 119, 98, 0.075);
}

/* HEADER */
nav {
  justify-content: center;
}

.flags img {
  cursor: pointer;
  width: 50px;
}

.banderas {
  align-items: center;
}

.navbar {
  --bs-navbar-padding-y: 0rem;
}

.padre {
  justify-content: center;
}

.nav-bar-content {
  width: 98vw !important;
}

.search {
  width: 25%;
}

.main {
  display: flex;
  gap: 20px;
}

.container-fluid {
  background-color: var(--titulos);
  color: #fff;
}

.header {
  background-color: var(--titulos);
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: grey;
}
title {
  margin-top: 35px;
}

h2,
h3 {
  color: #0629dd;
}

h1 {
  text-align: center;
}

.logo_img {
  margin: -20px;
  position: absolute;
  top: 5px;
  left: 5px;
}
.contenido {
  width: 70dvw;
  margin-top: 20px;
}
footer {
  background-color: var(--titulos);
  color: #ffff;
  gap: 15px;
  position: relative;
  border-bottom: 1px solid #1d223d;
}
footer p {
  max-width: 400px;
}
.acerca {
  margin-top: 30px;
}
.suscripcion {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ubicacion {
  margin-right: 20px;
}
.informacion {
  margin-left: 25px;
}
.footer-content {
  width: 90dvw;
}
.linea {
  background-color: var(--titulos);
  color: #e4e4e7;
}
.copyrigt {
  background-color: var(--titulos);
}

/* responsive */
@media screen and (min-width: 700px) and (max-width: 1200px) {
  .mision {
    display: none;
  }
  .vision {
    display: none;
  }
}

@media screen and (min-width: 375px) and (max-width: 700px) {
  .mision {
    display: none;
  }
  .vision {
    display: none;
  }
  .footer-content {
    flex-direction: column;
    text-align: center;
  }
  .ubicacion {
    margin-right: 0px;
  }
  .informacion {
    margin-left: 0px;
  }
  .info {
    margin-left: 0px;
  }
}
